{% extends 'layout/base.html' %}
{% load static %}

{% block content %}



        <!-- content begin -->
        <div id="content" class="no-top no-bottom" data-bgimage="url({% static 'images/background/bg-5.jpg' %})" data-stellar-background-ratio=".2">
            <div class="overlay-bg t50 no-bottom">
                <!-- subheader -->
                <section id="subheader" class="dark no-top no-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Сообщение отправлено Успешно</h1>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- subheader close -->
                <section aria-label="section-services">
                </section>
                <section aria-label="section-services">
                </section>
            </div>
        </div>
        <!-- content close -->
{% endblock %}